@import "../../theme/variables";

.input-container {
  display: flex;
  flex-direction: column;
  font-family: Abel;

  background-color: $grey;
  border-radius: 40px;
  padding: 8px 24px;

  input {
    background-color: $grey;
    font-family: Abel;
    font-size: 18px;
    color: $primary-color;
    outline: none;
    border: 0;
    cursor: text;
    padding-top: 4px;
  }

  input::placeholder {
    color:  $primary-color;
  }
}
