/* Colors */
$primary-color: #116193;
$secundary-color: #02CFD5;
$white: #FFFFFF;
$black: #000000;
$grey: #EBEBEB;
$light-grey: #F2F2F2;

/* Font Weights */
$regular: 400;
$bold: 700;
$bolder: 800;
$side-width: 20rem;
$header-height: 5rem;

